@import url('scroller.css');

/* @import url('antd.min.css'); */

:root {
  --app-color: rgb(185, 191, 197);
  --app-a-color: rgb(123, 223, 171);
  --app-a-hover-color: rgb(73, 236, 152);
  --app-bg-color: rgb(10, 14, 11);
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: var(--app-color);
  background-color: var(--app-bg-color);
  line-height: 1.5em;
  /* font-size: 1em; */
}
a {
  /* color: var(--app-a-color); */
  color: var(--app-a-color);
  text-decoration: none;
}
a:hover {
  color: var(--app-a-hover-color);
  /* text-decoration: underline; */
}

.ant-layout.app-layout-header {
  height: unset;
}


