:root {
  --app-bg-color: black;
  --app-a-color: red;
  --app-color: aliceblue;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: var(--app-color);
  background-color: var(--app-bg-color);
}
a {
  color: var(--app-a-color);
}



.ant-layout.app-layout-header {
  height: unset;
}
